.course-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.course-details h1 {
  text-align: center;
}

.details {
  margin-bottom: 20px;
}

.details img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  text-decoration-color: aliceblue;
}

.payment {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.payment h2 {
  margin-bottom: 10px;
}

.payment label {
  display: block;
  margin-bottom: 5px;
}

.payment input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.payment button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
